/* book chapter css */

body {
    background-color: #BFC5D9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: #8C5C03;
}

blockquote p {
    color: #8C5C03;
}

img {
    float: right;
    width: 275px;
    height: 325px;
}

footer {
    border-top: solid;
}

ol {
    border-radius: 30px;
    border-style: ridge;
}